*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #add1ea;
    height: 700px;
    margin-bottom: 200px;
    font-size: 12px;
}

footer{
    background-color: black;
    color: white;
    padding: 50px 100px 25px;
    margin-top: 100px;
}

nav{
    background-color: white;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
}

.jumbotron{
    width: 1300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.button{
    display: inline-block;
    padding: 5px 15px;
    line-height: 20px;
}

.blue{
    background-color: #0063ff;
}

.large{
    width: 240px;
    text-align: center;
    margin: 30px 0 15px;
}

h1{
    font-size: 68px;
}

a{
    color: black;
    text-decoration: none;
}

section{
    margin-top: 50px;
}

.break-line{
    width: 50px;
    border-top: #ccc 1px solid;
    margin: 25px 0 50px 0;
}

.m-b30px{
    margin-bottom: 30px;
}

.m-b15px{
    margin-bottom: 15px;
}

/*---------------------------------------*/

.logo{
    display: inline-block;
    margin-right: 15px;
}

.logo img{
    vertical-align: middle;
    height: 20px;
}

.row span{
    margin: 15px 15px 0 0;
}

nav{
    padding:0 15px
}

.jumbo-text{
    width: 30%;
    margin-right: 30px;
}

.jumbo-img img{
    width: 750px;
    margin-bottom: -200px;
}

.jumbo-img{
    width: 65%;
}

.jumbotron .button{
    margin-bottom: 10px;
}

.arrow .fas{
    margin-top: 30px;
    font-size: 30px;
    color: #000;
}

/*--------------- / header -------------*/

input{
    vertical-align: middle;
    border: #ccc 1px solid;
}

.radio-button{
    font-size: 12px;
}

input#annuale{
    margin-left: 15px;
}

.col-main{
    padding: 30px;
    font-size: 12px;
}

.col-main p a{
    color: blue;
    text-decoration: underline;
}

.col-title{
    border-bottom: #ccc 1px solid;
    text-align: center;
    font-size: 12px;
}

.col-title p{
    margin: 5px 0;
}

.col-side{
    height: 850px;
    width: 31%;
    border: #ccc 1px solid;
}

.user-title::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: '\f007';
    margin-right: 3px
}

.building::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f1ad";
    margin-right: 3px;
}

.col-mittle{
    height: 850px;
    width: 32%;
    margin: 0 30px;
    border: #ccc 1px solid;
}

.col-side{
    font-size: 12px;
}

.price{
    font-weight: bold;
}

.under-price{
    color: #ccc;
}

.features li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;
}

.user::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f007";
    position: absolute;
    top: 3px;
    left: -3px; 
}

.user-plus::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f234";
    position: absolute;
    top: 3px;
    left: -3px;
}

.pen::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f303";
    position: absolute;
    top: 3px;
    left: -3px;
}

.smile::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f118";
    position: absolute;
    top: 3px;
    left: -3px;
}

.folder::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07b";
    position: absolute;
    top: 3px;
    left: -3px;
}

.button a{
    color: white
}

ul{
    list-style: none;
}

.summary li{ 
    padding-left: 15px;
    position: relative;
    margin-bottom: 15px;
}

.summary li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: blue;
    position: absolute;
    top: 3px;
    left: 0;
}

.big-col{
    margin: 30px auto;
    border: #ccc 1px solid;
}

.large2{
    width: 335px;
    text-align: center;
    margin-bottom: 15px;
}

/*--------------- / colonne -------------*/

.img{
    width: 60%;
}

.img img{
    width: 600px;
}

.text{
    padding-top: 30px;
    width: 35%;
    font-size: 12px;
}

.white{
    background-color: white;
    border: black 1px solid;
    margin-top: 15px;
}

.white a{
    color: black
}

/*--------------- / big-img section -------------*/

.six-img-grid .fl{
    width: 32%;
}

.six-img-grid img{
    width: 100%;
}

.img-center{
    margin: 0 20px;
}

.six-img-grid .row:last-child{
    margin: 50px 0 150px;
}

/*--------------- / six-img grid -------------*/

#normal{
    color: blue;
    text-decoration: underline;
}

.side-grid, .main-grid{
    height: 400px;
}


.side-grid{
    width: 30%;
}

.main-grid{
    width: 40%;
    padding: 30px;
    background-color: #f5f5f5;
}

.main-grid img{
    width: 100px;
    margin-bottom: 50px;
}

.square{
    width: 50%;
    height: 50%;
    position: relative;
    color: white;
}

.side-grid img{
    width: 50%;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.green{
    background-color: #94d595;
    border: #caeacb 15px solid;
}

.darkred{
    background-color: #6b002b;
}

.cyan{
    background-color: #0096d3;
}

.red{
    background-color: #ff0000;
}

.lightblue{
    background-color: #add1ea;
}

.darkblue{
    background-color: #022486;
}

.yellow{
    background-color: #ffd600;
}

.under-row{
    padding: 50px 150px;
    background-color: #add1ea;
}

.under-row .container{
    padding: 10px;
}

.under-row h2{
    color: #6b002b;
    font-size: 32px;
}

.under-row .white{
    border: 1px white solid;
}

/*--------------- / logo grid -------------*/

.ask{
    height: 50px;
    border-bottom: #ccc 1px solid;
    padding-bottom: 100px;
}

.answer{
    border-bottom: #ccc 1px solid;
    line-height: 75px;
}

/*--------------- / frequently ask -------------*/

footer .ul{
    list-style: none;
}

footer a{
    color: white;
    line-height: 25px;
}

.footer-link{
    width: 20%;
}

footer .break-line{
    width: 100px;
    margin: 100px 0 50px;
}

.language{
    font-size: 12px;
    color: #ccc;
}

.language::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0ac";
    margin-right: 5px;
    color: #ccc;
}

.language::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0de";
    margin-left: 5px;
    vertical-align: middle;
    color: #ccc;
}